<div class="container" ng-hide="isAuthenticated">
    <div>
        <h1 class="text-center">Drivers</h1>
    </div>
    <div>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Upcoming trips</th>
                    <th class="text-center">Total trips</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="driver in drivers">
                    <td><a ng-href="#/drivers/{{driver.id}}">{{driver.name}}</a></td>
                    <td>{{driver.numberOfUpcomingTrips}}</td>
                    <td>{{driver.numberOfTotalTrips}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container" ng-show="isAuthenticated">
    <div>
        <h1 class="text-center">Drivers</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <input type="text" value="" ng-model="userName"/>
            <span>Filter by username</span>
        </div>
        <div class="col-md-4 pull-right">
            <input type="number" value="" ng-model="page" min="1"/>
            <button ng-click="getRegisteredDriversByPage(page)">Page</button>
        </div>
    </div>
    <div>
        <table class="table table-striped table-hover text-center">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Upcoming trips</th>
                    <th class="text-center">Total trips</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="driver in drivers | filter: userName">
                    <td><a ng-href="#/drivers/{{driver.id}}">{{driver.name}}</a></td>
                    <td>{{driver.numberOfUpcomingTrips}}</td>
                    <td>{{driver.numberOfTotalTrips}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>