<div class="container" ng-controller="TripDetailsCtrl">
    <button class="pull-right" ng-click="joinTrip()">Join</button>
    <h1>{{trip.driverName}}-{{trip.departureDate | date:'medium'}}</h1>
    <div class="row well">
        <div class="col-lg-4">
            <span>From:</span><strong>{{trip.from}}</strong>
        </div>
        <div class="col-lg-4">
            <span>To:</span><strong>{{trip.to}}</strong>
        </div>
        <div class="col-lg-4">
            <span>Number of free seats:</span><strong>{{trip.numberOfFreeSeats}}</strong>
        </div>
        <div class="text-center">
            <span>Passangers:</span>
            <span ng-repeat="passanger in trip.passengers">{{passanger}},</span>
        </div>
    </div>
</div>