extends ../shared/layout
block main-content
    table.table.table-boardered
        tr
            th File Name
            th Download Link
            th Private
        - for(var i = 0; i < files.length; i++) {
            - var url = '/files/download/' + files[i].url;
            tr
                td #{files[i].fileName}
                td
                    a(href="#{url}") #{'http://mysite.com' + url}
                td #{files[i].private == 'on' ? 'yes' : 'on'}
        - }