extends ../shared/layout

block main-content
    form(method="post")
        input(type="text" id="newPhone" name="newPhone")
        label(for="newPhone") Phone Number
        br
        br
        input(type="text" id="fb" name="fbProfile")
        label(for="fb") Facebook profile
        br
        br
        input(type="text" id="twitter" name="twitterProfile")
        label(for="twitter") Twitter profile
        br
        br
        input(type="text" id="google" name="googlePlusProfile")
        label(for="google") Google plus profile
        br
        br
        input(type="text" id="linkedIn" name="linkedInProfile")
        label(for="linkedIn") LinkedIn profile
        br
        br
        input(type="submit")